<html>

<head>
  <style>
    .test {
      color: red;
      background-color: blue;
    }
    
    .test2 .test3 {
      color: gray;
    }

    #test4 {
      color: red;
    }
  </style>
</head>

<body>
  <a href="#" id="external-test" style="color: white; background-color: ghostwhite;" class="external">TEST</a>
  <a href="#" 
  id="test4"
  style="
    color: white; 
    background-color: ghostwhite;" 
  class="
  external 
  test
  ">TEST</a>
</body>

</html>